* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
background-color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
max-width: 100vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

#mobile-navbar {
background-color: transparent;
position: fixed;
z-index: 1;
top: 0;
width: 100%;
display: block;
transition: 0.5s;
animation-name: navbar;
animation-duration: 1s;
}

#navbar {
background-color: transparent;
position: fixed;
z-index: 1;
top: 0;
width: 100%;
display: block;
transition: 0.5s;
animation-name: navbar;
animation-duration: 1s;
}

#mobile-navbar img {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#navbar img {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 4.125vh 1.265vw;
text-decoration: none;
font-size: 1.547vw;
}

#navbar a:hover {
color: #dfdfdf;
}

#navbar img {
height: 11vh;
float: left;
margin-left: 8vh;
}

#navbar p {
font-size: 6vh;
float: left;
color: white;
padding: 0%;
margin-right: 4.5vw;
position: relative;
top: 2.25vh;
}

#mobile-navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 4.5vh 3.25vh;
text-decoration: none;
font-size: 2.75vh;
}

#mobile-navbar a:hover {
color: #dfdfdf;
}

#mobile-navbar img {
height: 11vh;
float: left;
margin-left: 2vh;
}

#mobile-navbar p {
font-size: 5vh;
float: left;
color: white;
padding: 0%;
margin: 0;
position: relative;
top: 2.25vh;
}

#mobile-navbar span {
font-size: 5vh;
cursor: pointer;
float: right;
padding: 1.5vh 2vh;
color: white;
}

#video-slides {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  z-index: 0;
  backface-visibility: hidden;
  background: #000000;
  background: linear-gradient(rgba(0,0,0,0) -50%, rgba(0,0,0,1) 100%);
}

#video-slides video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000000;
  z-index: -1;
}

.text {
  color: #f2f2f2;
  font-size: 6.5vw;
  font-weight: bold;
  padding: 1.33vh 2vh;
  position: absolute;
  top: 25vh;
  width: 100%;
  text-align: center;
  animation-name: text;
  animation-duration: 1.5s;
}

.text span {
font-size: 2.5vw;
animation-name: presents;
animation-duration: 1s;
}

.text a {
  color: #ffffff;
  text-decoration: none;
}

.register {
  color: #f2f2f2;
  background-color: #00b344;
  width: 20vw;
  font-weight: bold;
  padding: 1.67vh 0;
  font-size: 2.25vw;
  text-decoration: none;
  position: absolute;
  bottom: 20vh;
  left: 40vw;
  text-align: center;
  animation-name: register;
  animation-duration: 1.5s;
  overflow: hidden;
  white-space: nowrap;
}

@-webkit-keyframes text {
from {top: 40vh; opacity: 0;}
to {top: 25vh; opacity: 1;}
}

@keyframes text {
from {top: 40vh; opacity: 0;}
to {top: 25vh; opacity: 1;}
}

@-webkit-keyframes presents {
from {font-size: 1.5vw; opacity: 0;}
to {font-size: 2.5vw; opacity: 1;}
}

@keyframes presents {
from {font-size: 1.5vw; opacity: 0;}
to {font-size: 2.5vw; opacity: 1;}
}

@-webkit-keyframes register {
  from {width: 0;}
  to {width: 20vw;}
}
  
@keyframes register {
  from {width: 0;}
  to {width: 20vw;}
}

@-webkit-keyframes navbar {
from {top: -11vh; opacity: 0;}
to {top: 0; opacity: 1;}
}

@keyframes navbar {
from {top: -11vh; opacity: 0;}
to {top: 0; opacity: 1;}
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 7.5vw;
    top: 35vh;
  }

  .text span {
    font-size: 3vw;
  }
  
  @-webkit-keyframes presents {
    from {font-size: 2vw; opacity: 0;}
    to {font-size: 3vw; opacity: 1;}
  }
    
  @keyframes presents {
    from {font-size: 2vw; opacity: 0;}
    to {font-size: 3vw; opacity: 1;}
  }

  @-webkit-keyframes text {
    from {top: 50vh; opacity: 0;}
    to {top: 35vh; opacity: 1;}
  }
    
  @keyframes text {
    from {top: 50vh; opacity: 0;}
    to {top: 35vh; opacity: 1;}
  }

  .register {
    width: 30vw;
    font-size: 3vw;
    left: 35vw;
  }

  @-webkit-keyframes register {
    from {width: 0;}
    to {width: 30vw;}
  }
    
  @keyframes register {
    from {width: 0;}
    to {width: 30vw;}
  }
}

@media screen and (max-width: 1200px) {
#mobile-navbar {
  display: block;
}
#navbar {
  display: none;
}
#menu {
  display: block;
}
}

@media screen and (min-width: 1200px) {
#mobile-navbar {
  display: none;
}
#navbar {
  display: block;
}
#menu {
  display: none;
}
}

.overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 2;
top: 0;
right: 0;
background-color: #111111;
white-space: nowrap;
overflow-x: hidden;
transition: 0.5s;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /*Firefox*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overlay::-webkit-scrollbar {
display: none;
}

.overlay-content {
margin-top: 7.5vh;
margin-right: 2vh;
text-align: center;
}

.overlay a {
padding: 3vh;
text-decoration: none;
font-size: 3.5vh;
color: white;
display: block;
transition: 0.3s;
overflow-x: hidden;
}

.overlay a:hover, .overlay a:focus {
color: #5566ff;
}

.overlay .closebtn {
position: absolute;
top: 0vh;
right: 0vh;
font-size: 10vh;
}

#glimpse {
  margin-top: 3vw;
  transition: 1s;
}

#glimpse a {
  text-decoration: none;
  color: #000000;
}

#glimpse span {
  margin-left: 3vw;
  font-size: 5.33vh;
  padding: 2vh;
  border: 3px solid #000000;
}

#glimpse span:hover {
  color: #5566ff;
  border-color: #5566ff;
  transition: 0.2s;
}

@media screen and (max-width: 500px) {
  #glimpse span {
    font-size: 5vw;
    padding: 1.67vw;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
}

.cards > div {
  background-color: #ffffff;
  width: 22vw;
  margin: 1vw;
  box-shadow: 0 0 8px #000000;
}

.thumbnail {
  width: 22vw;
  height: auto;
}

.card-title {
  font-size: 3vh;
  padding: 1vh;
  font-weight: bold;
  cursor: default;
}

.card-details {
  font-size: 2.5vh;
  padding: 1vh;
  cursor: default;
}

@media screen and (max-width: 600px) {
  .cards {
    flex-flow: row wrap;
  }
  
  .cards > div {
    width: 45vw;
    text-align: center;
    font-size: 2vw;
    margin: 2vw;
    box-shadow: 0 0 4px #000000;
  }

  .thumbnail {
    width: 45vw;
    height: auto;
  }
  .card-title {
    font-size: 3vw;
    font-weight: bold;
  }
  
  .card-details {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 365px) {
  .cards {
    flex-flow: column;
  }
  
  .cards > div {
    width: 90vw;
    text-align: center;
    font-size: 2vw;
    margin: 4vw;
    box-shadow: 0 0 4px #000000;
  }

  .thumbnail {
    width: 90vw;
    height: auto;
  }
  .card-title {
    font-size: 3vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card-details {
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

#contact {
  background-color: #000000;
  padding: 5vh;
  font-size: 2.5vh;
  margin-top: 5vh;
}
  
#contact span {
  color: #acacac;
}
  
#contact p {
  color: white;
}

@media screen and (max-width: 600px) {
  #contact {
    padding: 5vw;
    font-size: 3.5vw;
  }
}

/*ABOUT PAGE*/ /*ABOUT PAGE*/ /*ABOUT PAGE*/ /*ABOUT PAGE*/ /*ABOUT PAGE*/ /*ABOUT PAGE*/ /*ABOUT PAGE*/ /*ABOUT PAGE*/ /*ABOUT PAGE*/

#about-navbar {
  background-color: #222222;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  animation-name: about-navbar;
  animation-duration: 1s;
}

@media screen and (max-width: 1200px) {
  #about-navbar {
    display: none;
  }
}

#about-navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 4.125vh 1.265vw;
  text-decoration: none;
  font-size: 1.547vw;
}

#about-navbar img {
  height: 11vh;
  float: left;
  margin-left: 8vh;
}

#about-navbar p {
  font-size: 6vh;
  float: left;
  color: white;
  padding: 0%;
  margin-right: 4.5vw;
  position: relative;
  top: 2.5vh;
}

#about180r {
  position: relative;
  top: 11vh;
  padding: 2vw;
  width: 100vw;
  height: fit-content;
}

.collapsible {
  background-color: #3d3d3d;
  color: white;
  cursor: pointer;
  padding: 2vh 0;
  width: 65vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 4vh;
  margin-top: 1vh;
  white-space: nowrap;
  animation-name: collapsible;
}

.active, .collapsible:hover {
  background-color: #202020;
}

.content {
  padding: 0 1vh;
  max-height: 0;
  width: 65vw;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  animation-name: collapsible;
}

.collapsible span {
  margin-left: 2vw;
  animation-name: about-content;
}

@-webkit-keyframes about-navbar {
  from {top: -12vh;}
  to {top: 0;}
}
  
@keyframes about-navbar {
  from {top: -12vh;}
  to {top: 0;}
}

@-webkit-keyframes collapsible {
  from {width: 0}
  to {width: 65vw}
}
  
@keyframes collapsible {
  from {width: 0}
  to {width: 65vw}
}

@-webkit-keyframes about-content {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes about-content {
  from {opacity: 0;}
  to {opacity: 1;}
}

.content p {
  padding: 3vh;
  font-size: 3vh;
}

@media screen and (max-width: 875px) {
  .collapsible {
    cursor: pointer;
    padding: 2vw 0;
    width: 96vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2.75vw;
    margin-top: 1vw;
  }
  
  .content {
    padding: 0 1vw;
    width: 96vw;
    max-height: 0;
  }
  
  .content p {
    padding: 2.5vw;
    font-size: 2.5vw;
  }

  @-webkit-keyframes collapsible {
    from {width: 0}
    to {width: 96vw}
  }
    
  @keyframes collapsible {
    from {width: 0}
    to {width: 96vw}
  }
}

@media screen and (max-width: 500px) {
  .collapsible {
    cursor: pointer;
    padding: 2vh 0;
    width: 96vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 3.5vw;
    margin-top: 1vw;
  }

  .collapsible span {
    margin-left: 2vh;
  }

  .content {
    padding: 0 1vw;
    width: 96vw;
    max-height: 0;
  }
  
  .content p {
    padding: 3vw;
    font-size: 3.5vw;
  }

  @-webkit-keyframes collapsible {
    from {width: 0}
    to {width: 96vw}
  }
    
  @keyframes collapsible {
    from {width: 0}
    to {width: 96vw}
  }
}
